body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 80px;
  margin: 0 auto !important;
}

.container-content {
  padding: 80px 0;
}

.menu-item {
  border-bottom: 3px solid transparent;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 30px;
  color: #b37feb;
}

.menu-item.-selected {
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(244, 70, 252, 1) 100%
  );
  color: #b37feb;
}

.ant-layout-header {
  background: #fff;
  box-shadow: 0px 1px 5px #a5a5a5;
}

.ant-layout {
  min-height: 100vh;
}

.success-icon {
  color: #b37feb !important;
}
.divider {
  height: 1px;
  border-width: 0;
  background-color: lightgray;
  width: 100%;
  margin: 2px;
}
.attributes-tag {
  display: flex;
  flex-direction: column;
  text-align: 'center';
  height: 60px;
  width: 180px;
  border: 1px solid rgba(179, 127, 235, 1);
  background-color: rgba(179, 127, 235, 0.04);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
